/* You can add global styles to this file, and also import other style files */
.guest-form-card{
    text-transform: uppercase;
    font-size: medium;
}

.guest-form-card label{
    font-size: small;
}
.card-header{
    background-color: blue;
}
.card-body{
    background-color: rgb(0, 0, 0);
}
p{
    font-size: 10px;
    color: white;
}
h3{
    color: white;
}
label{
    color: white;
}
